@using EstudosDDD.UI.Web.Models.Pessoa
@model IEnumerable<EstudosDDD.UI.Web.Models.Pessoa.IndexModel>

@{
    ViewBag.Title = "Pessoas";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Adicionar", "Adicionar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SobreNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th></th>
    </tr>

    @foreach (IndexModel item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SobreNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new {id = item.Codigo}) |
                @Html.ActionLink("Detalhes", "Detalhes", new {id = item.Codigo}) |
                @Html.ActionLink("Remover", "Remover", new {id = item.Codigo})
            </td>
        </tr>
    }

</table>